/* Define light mode default */
:root {
    --font-color: #333;
    --background-color: #ffffff;
    --text-color: #000000;
    --link-color: #007bff;
    --hover-color: #0056b3;
    --border-color: #e0e0e0;
  }
  
  /* Dark mode styles */
  [data-theme="dark"] {
    --font-color: #eee;
    --background-color: #121212;
    --text-color: #ffffff;
    --link-color: #bb86fc;
    --hover-color: #3700b3;
    --border-color: #333333;
  }
  
  /* Apply the CSS variables to the whole document */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    
  }
  
  a {
    color: var(--link-color);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--hover-color);
  }
  
  hr {
    border-color: var(--border-color);
  }
  